ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.head_padding
{
    margin-left: -8px;
    float:left;
}
.head
{
    background: none no-repeat scroll 0 0 #66CDAA;
    height: 75px;
    position: absolute;
    top: 0;
    width: 100%;
    
}
body {
    background-color: skyblue;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-size: auto;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.head a {
    float: left;
    color: #F0FFF0;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 30px;
    line-height: 25px;
    border-radius: 4px;
    font-family: 'Bebas Neue';
    margin-top: 10px;
    
}
    
.head a.logo {
    font-size: 60px;
    font-weight: bold;
    margin-left: 189px;
    margin-top: 15px;
}
h2{
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue';
}
.left
{
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 4px;
    float: left;
    height: auto;
    margin-left: 190px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 550px;
    background-color: mintcream;
    background-size: auto;
}
table, td {
    border: 2px solid black;
    margin-top: 10px
  }
.tab-2{
    margin-left: 50px;
    font-family: 'Belle Fair';
    line-height: 0; 
    font-size: 16px;
    margin-left: 10px;
    margin-top: 20px;
}
.tab-2 input{
    display: block;
    margin-bottom:20px;
    margin-top: 30px;
}
.msg {
    display: block;
    float: left;
    font-family: 'Belle Fair';
    font-size: 25px;
    color: #2E8B57;
}	

.right {
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 4px;
    height: 550px;
    margin-left: 800px;
    margin-top: 36px;
    margin-bottom: 10px;
    width: 400px;
    background-color: mintcream;
    background-size: auto;
}
.form_label{
    font-family: 'Bebas Neue';
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.form_del{
    font-family: 'Bebas Neue';
    font-size: 23px;
    margin-left: 0px;
    color: rgb(139, 46, 46);
}
.space{
    height: 10px;
}
.form_title{
    font-family: 'Bebas Neue';
    font-size: 40px;
    margin-left: 150px;
    margin-top: 10px;
    color: #2E8B57;
}
.bottom_right{
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 4px;
    height: 550px;
    margin-left: 800px;
    margin-top: 0px;
    width: 400px;
    background-color: mintcream;
    background-size: auto;
}
.padding{
    width:-200px;
    margin: auto;
}
.tab_bottom{
    font-family: 'Belle Fair';
    line-height: 2; 
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 35px;
    margin-top: -20px;
}
.income_tab{
    margin-top: 0px;
}
.bills_tab{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Belle Fair';
}
.bills_title{
    font-family: 'Bebas Neue';
    font-size: 30px;
    margin-right: 10px;
    
    color: #2E8B57;
}
.mid
{
    margin-top:140px;
    height:600px;
    width: 1420px;
}
.currency{
    font-family: 'Bebas Neue';
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(46, 139, 119);
}
.curr_msg{
    font-family: 'Belle Fair';
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-bottom: 10px;
}
.currencyVal{
    font-family: 'Bebas Neue';
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(46, 139, 119);
}
.currTab{
    font-family: 'Belle Fair';
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.tab_title{
    font-family: 'Bebas Neue';
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
    color: #2E8B57;
}
.messagePrint{
    font-family: 'Belle Fair';
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.budget_button{
    background-color: #66CDAA;
    border: none;
    color: #F0FFF0;
    /* padding: 17px 30px; */
    height: 70px;
    width: 150px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-family: 'Bebas Neue';
    margin-bottom: 10px;
}
.del_button {
    background-color: #66CDAA;
    border: none;
    color: #F0FFF0;
    /* padding: 17px 30px; */
    height: 70px;
    width: 150px;
    margin-left: 0px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-family: 'Bebas Neue';
    margin-bottom: 10px;
}
